<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vogella.android.tap4share">

    <!-- for API (GET POST etc...) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- for accessing temporary image before POST request -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- for camera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- <uses-feature android:name="android.hardware.camera.autofocus" /> -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/iconsquare"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconround"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:theme="@android:style/Theme.NoTitleBar"> -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageInsert"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SingleImageInfo"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ShakeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCO1kABTfnxOFQub5FPE6A1fsxBb0c8tIw" />
    </application>

</manifest>